---
layout: default
---

<section class="section sutty">
  {% include menu.html %}

  <div class="container">
    <div class="columns is-vcentered is-fullheight">
      <div class="column">
        <h1 class="title magenta-fg">{{ i18n.index.intro }}</h1>

        {{ i18n.index.description | markdownify }}

        <div>
          <a href="public/x1.cer" class="button white-fg black-bg">
            {{ i18n.index.download }}
          </a>

          <br/>

          <small>{{ i18n.index.downloaded }}</small>

          <details>
            <summary>{{ i18n.index.question }}</summary>

            {{ i18n.index.answer | markdownify }}
          </details>
        </div>
      </div>

      <div class="column has-text-centered">
        <video src="public/x11.mp4" controls></video>
      </div>
    </div>
  </div>
  {% include corners.html %}
</section>

<section id="{{ i18n.contact.id }}" class="section">
  <div class="container">
    <div class="columns is-vcentered is-fullheight">
      <div class="column is-two-fifths">
        <h1 class="title">{{ i18n.contact.title }}</h1>
      </div>
      <div class="column">
        {% include contact.html %}
      </div>
    </div>
  </div>
</section>
