---
layout: default
title: Bienvenidx
---

{% comment %}
Esto se va a convertir en el plugin de I18n
{% endcomment %}
{% assign i18n = site.data[site.lang] %}

{% comment %}
Barra de navegación
{% endcomment %}
<nav class="level">
  <div class="level-item">
    <img src="assets/images/logo.png" alt="{{ i18n.logo.alt }}"/>
  </div>
</nav>

<section id="{{ i18n.index.id }}" class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-vcentered">
        <h1 class="title magenta">{{ i18n.index.intro | escape }}</h1>

        {% for p in i18n.index.description %}
        {{ p | markdown }}
        {% endfor %}
      </div>

      <div class="column is-vcentered">
        <img src="assets/images/sutty.png" alt="{{ i18n.isologo.alt | escape }}"/>
      </div>
    </div>
  </div>
</section>

<section id="{{ i18n.description.id }}" class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-vcentered">&lt;</div>

      <div class="column is-vcentered">
        <h1 class="title">{{ i18n.description.sites }}</h1>

        <p>{{ i18n.adjetivos | join: '. ' }}</p>
      </div>

      <div class="column is-vcentered">&#47;</div>

      <div class="column is-vcentered">
        <h1 class="title">{{ i18n.description.for }}</h1>

        <p>{{ i18n.sujetxs | join: ', ' }}</p>

        <p>{{ i18n.adverbios | join: ', '}}</p>
      </div>

      <div class="column is-vcentered">&gt;</div>
    </div>
  </div>
</section>

{% comment %}
Segmentos explicativos principales, uno por pantalla
{% endcomment %}
{% for section in i18n.index.sections.main %}
<section id="{{ i18n[section].id }}" class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-vcentered">
        {{ i18n[section].symbol | escape }}
        <h1 class="title">{{ i18n[section].title }}</h1>
      </div>

      <div class="column is-vcentered">
        {% for p in i18n[section].description %}
        {{ p | markdown }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endfor %}

{% comment %}
Segmentos explicativos ocupando una pantalla entera agrupados de a dos.
{% endcomment %}

{% for section in i18n.index.sections.secondary %}
{% assign new_section = forloop.index | modulo: 2 %}
{% comment %}
Abrir la sección si el segmento es impar
{% endcomment %}
{% if new_section == 1 %}
<section class="section">
{% endif %}
  <div id="{{ i18n[section].id }}" class="container">
    <div class="columns">
      <div class="column is-vcentered">
        {{ i18n[section].symbol | escape }}
        <h1 class="title">{{ i18n[section].title }}</h1>
        <h2 class="subtitle">{{ i18n[section].subtitle }}</h2>
      </div>

      <div class="column is-vcentered">
        {% for p in i18n[section].description %}
        {{ p | markdown }}
        {% endfor %}
      </div>
    </div>
  </div>

{% comment %}
Cerrar la sección si el segmento es par
{% endcomment %}
{% if new_section == 0 %}</section>{% endif %}
{% endfor %}

<section class="section">
  <div class="container">
    <div id="{{ i18n.contact.id }}" class="columns">
      <div class="column is-vcentered">
        <h1 class="title">{{ i18n.contact.title }}</h1>
      </div>
      <div class="column is-vcentered">
        {% include contact.html %}
      </div>
    </div>

    <div id="{{ i18n.blog.id }}" class="columns">
      <div class="column is-vcentered">
        <h1 class="title">{{ i18n.blog.title }}</h1>
      </div>
      <div class="column is-vcentered">
        <div class="columns">
          {% for page in site.posts limit: 3 %}
          <div class="column">
            <p>{{ page.date | date: i18n.date }}</p>
            <h1 class="title">
              <a href="{{ page.url }}">{{ page.title }}</a>
            </h1>

            <p>{{ page.description | markdown }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
