---
layout: default
sitemap: false
---

<section class="section">
  {% include menu.html %}

  <article class="columns is-centered">
    <div class="column is-half">
      <video controls>
        <source src="public/pitch_v2.mp4" type="video/mp4"/>
        <source src="public/pitch_v2.webm" type="video/webm"/>
        <track
          default
          label="Castellano"
          kind="captions"
          srclang="es"
          src="public/pitch_v2.vtt" />
        <track
          label="English"
          kind="captions"
          srclang="en"
          src="public/pitch_v2.en.vtt" />
      </video>

      <p>Captions are available in English!  Enable them using the [CC] button :)</p>

      {% include contact.html %}
    </div>
  </article>
</section>
