{% assign banner = site.posts | where: 'layout', 'banner' | first %}

{% if banner %}
  <article class="message is-info" itemscope itemprop="SpecialAnnouncement" itemtype="https://schema.org/SpecialAnnouncement">
    <header class="message-header">
      <span itemprop="name">{{ banner.title }}</span>
      <time datetime="{{ banner.date }}" itemprop="datePosted">
        {{ banner.date | date: site.i18n.date }}
      </time>

      &mdash;

      <time datetime="{{ banner.expires }}" itemprop="expires">
        {{ banner.expires | date: site.i18n.date }}
      </time>
    </header>

    <div class="message-body" itemprop="text">
      {{ banner.description | markdownify }}
    </div>

    <link itemprop="category" href="{{ banner.category }}" />

    <span hidden itemprop="spatialCoverage">{{ banner.zone }}</span>
  </article>
{% endif %}
