<form method="post" action="https://contact.sutty.nl/send">
  {% for input in site.data[site.lang].contact.form %}
    {% assign name = input[0] %}
    {% assign field = input[1] %}

    <div class="field">
      <div class="control">
        {% if field.type == 'textarea' %}
          {% include label.html required=field.required content=field.label %}
          <textarea class="textarea" name="{{ name }}"></textarea>
        {% elsif field.type == 'checkbox' %}
          <label class="label" for="{{ name }}">
            <input type="checkbox" name="{{ name }}"
                   value="{{ field.value }}"
                   {% if field.required %}required{% endif %} />
            {{ field.label }}
          </label>
        {% else %}
          {% if input.type != 'hidden' %}
            {% include label.html
                       required=field.required
                       content=field.label %}
          {% endif %}
          <input class="input" type="{{ field.type }}" name="{{ name }}"
                 value="{{ field.value }}"
                 {% if field.required %}required{% endif %} />
        {% endif %}

      </div>
    </div>
  {% endfor %}

  <div class="field">
    <input type="submit"
           class="button"
           value="{{ site.data[site.lang].contact.submit }}" />
  </div>
</form>
