<footer class="footer is-fullheight">
  <div class="container">
    <div class="columns">
      <div class="column">
        <ul>
          {% for link in site.data[site.lang].footer.links %}
            <li>
              <a href="{{ link.href }}" title="{{ link.title }}">
                {{ link.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="columns">
      <div class="column has-text-centered">
        {% assign design = site.data[site.lang].footer.design %}
        <a class="cyan-bg black-fg" href="{{ design.href }}" title="{{ design.title }}">
          {{ design.text }}
        </a>
      </div>
    </div>
  </div>
</footer>

<div class="is-fixed-bottom is-fixed-left has-margin-left is-symbol magenta-fg fix-bottom-margins">&angrt;</div>
<div class="is-fixed-bottom is-fixed-right has-margin-right is-symbol magenta-fg fix-bottom-margins"><span class="is-flipped-horizontally">&angrt;</span></div>
