{% comment %}
Barra de navegación
{% endcomment %}

{% assign i18n = site.data[site.lang] %}

<nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="{{ i18n.menu.title }}">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="assets/images/logo.png" alt="{{ i18n.logo.alt }}"/>
    </a>

    <p class="navbar-item">
      {{ i18n.description.sites }}
      {{ i18n.adjetivos | sample }}
    </p>

    <p class="navbar-item">&#47;</p>

    <p class="navbar-item">
      {{ i18n.description.for | remove: ':' }}
      {{ i18n.sujetxs | sample }}
      {{ i18n.adverbios | sample }}
    </p>

    <a role="button" 
       class="navbar-burger burger"
       data-target="menu"
       aria-expanded="false"
       aria-label="{{ i18n.menu.title }}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>
