{% comment %}
Encabezado de un post, pasar como

{% include post_summary.html page=page %}
{% endcomment %}

<p class="heading">
  <time datetime="{{ include.page.date }}" class="dt-published" itemprop="datePublished">
    {{ include.page.date | date: i18n.date }}
  </time>
  /

  {% assign words = include.page.content | number_of_words %}
  {% if words < 360 %}
    1 {{ site.i18n.post.one_minute }}
  {% else %}
    {{ words | divided_by: 180 }} {{ site.i18n.post.minutes }}
  {% endif %}
</p>

<h1 class="title p-name" itemprop="name headline">
  <a class="u-url" itemprop="url" href="{{ include.page.url }}">{{ include.page.title }}</a>
</h1>

<div class="p-summary" itemprop="description">
  {{ include.page.description | markdownify }}
</div>
