{% comment %}
Encabezado de un post, pasar como

{% include post_summary.html page=page %}
{% endcomment %}

<time datetime="{{ include.page.date }}" class="heading">
  {{ include.page.date | date: i18n.date }}
  /

  {% assign words = content | number_of_words %}
  {% if words < 360 %}
    1 {{ i18n.post.one_minute }}
  {% else %}
    {{ words | divided_by: 180 }} {{ i18n.post.minutes }}
  {% endif %}
</time>

<h1 class="title">
  <a href="{{ include.page.url }}">{{ include.page.title }}</a>
</h1>

{{ include.page.description | markdown }}
