@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  src: local('Saira Medium'), local('Saira-Medium'), url(../fonts/saira/v3/SairaMedium.ttf) format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  src: local('Saira Bold'), local('Saira-Bold'), url(../fonts/saira/v3/SairaBold.ttf) format('truetype');
}

body {
  font-family: Saira, sans-serif;
}
