---
---

{% node_module bulma/css/bulma.min.css %}

@import 'variables';
@import 'saira';
@import 'snap';
@import 'fg';
@import 'bulma';
@import 'helpers';
@import 'responsive';
@import 'monokai';
@import 'post';

section {
  &.main {
    .title { font-size: 3rem; }
    .subtitle { font-size: 2rem; }
  }

  &.sutty {
    strong {
      font-weight: 400;
      background-color: magenta;
      color: white;
    }
  }

  p { margin-bottom: 1rem; }

  &.black-bg {
    nav {
      &.navbar {
        .navbar-item {
          color: white;
        }

        a {
          color: white;

          &.black-bg {
            background-color: white;
          }

          &.white-fg {
            color: black !important;
          }
        }
      }
    }
  }
}

nav {
  &.navbar {
    a {
      color: $black;
      text-transform: uppercase;
    }
  }
}

svg {
  max-width: 100%;
}
