---
---

{% node_module bulma/css/bulma.min.css %}

@import 'variables';
@import 'saira';
@import 'snap';
@import 'fg';
@import 'bulma';
@import 'helpers';
@import 'responsive';
@import 'monokai';
@import 'post';

::-moz-selection,
::selection {
  background: $cyan;
}

a {
  transition: color 1s;
}

section {
  &.main {
    .title { font-size: 3rem; }
    .subtitle { font-size: 2rem; }
  }

  &.sutty {
    strong {
      font-weight: 400;
      background-color: $cyan;

      &::selection,
      &::-moz-selection {
        background-color: $magenta;
        color: $black;
      }
    }
  }

  p { margin-bottom: 1rem; }

  &.black-bg {
    nav {
      &.navbar {
        .navbar-item {
          color: $white;
        }

        a {
          color: $white;

          &.black-bg {
            background-color: $white;
          }

          &.white-fg {
            color: black !important;
          }
        }
      }
    }

    .corner {
      color: $white;
    }

    strong {
      font-weight: 400;
      background-color: $cyan;

      &::selection,
      &::-moz-selection {
        background-color: $magenta;
        color: $white;
      }
    }

    svg {
      path {
        fill: $white;
      }
    }
  }
}

nav {
  &.navbar {
    a {
      color: $black;
      text-transform: uppercase;
    }
  }
}

svg {
  max-width: 100%;
}

article {
  header {
    a {
      color: $black;

      &:hover {
        color: $magenta;
      }
    }
  }
}
