---
layout: default
---

{% assign i18n = site.data[site.lang] %}

<section class="section">
  {% include menu.html %}
  <article class="content" id="{{ page.id }}">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <header>
          {% assign file = i18n.post.symbols | sample %}
          {% include {{ file }} %}
          {% include post_summary.html page=page %}
        </header>
      </div>

      <div class="column is-half content">

        {{ content | html_relativize_anchors_to: page.url }}

        <footer>
          {% if page.next %}<a href="{{ page.next.url }}">&lt; {{ page.next.title }}</a>{% endif %}
          {% if page.previous %}<a href="{{ page.previous.url }}">{{ page.previous.title }} &gt;</a>{% endif %}
        </footer>
      </article>
    </div>
  </div>
</section>

{% include footer.html %}
